page-createpwa {
.class1603800553816 {
	.scroll-content{
		padding-left: 3vw !important;
		padding-right: 3vw !important;
	}
;
}
.class1603880720943 {
float:right;
top:0;
right:0;
position:absolute;
;
}
.class1603800885985 {
	/*margin-top: 3vh;*/
	/*margin: 0 auto;
    display: table !important;*/
	z-index: 100;
	display: flex;
justify-content: center; /* align horizontal */
	
}
.class1603800885985:hover{
	cursor: pointer;
;
}
.class1603800886027 {
    width:182px;
    height:182px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 9px #ffffff;
  background-color: #d8d8d8;

;
}
.class1603808539173 {
    width:182px;
    height:182px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 9px #ffffff;
  background-color: #d8d8d8;

;
}
.class1603801682352 {
	display:inline-block !important;
;
}
.class1603802392857 {
color: #ff8206 !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
;
}
.class1603803008189 {
	margin-top:2vh;
;
}
.class1603803008195 {
color: #ff8206 !important;
  font-size: 14px !important;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
;
}
.class1603803315844 {
	margin-top: 31px;
;
}
.class1603815900988 {
color: #ff8206 !important;
  font-size: 14px !important;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
;
}
.class1603815913689 {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	border-radius: 50%;
 	width: 50px;
    height: 50px;
    border: 5px solid color($colors, greyButton);
    text-align:center;
}
.class1603815913689:hover {
	cursor:pointer;
;
}
.class1603803317434 {
	margin-top: 31px;
;
}
.class1603816675481 {
color: #ff8206 !important;
  font-size: 14px !important;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
;
}
.class1603816675490 {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	border-radius: 50%;
 	width: 50px;
    height: 50px;
    border: 5px solid color($colors, greyButton);
    text-align:center;
}
.class1603816675490:hover {
	cursor:pointer;
;
}
.class1603879675953 {
	margin-top: 31px;
;
}
.class1603879675956 {
color: #ff8206 !important;
  font-size: 14px !important;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
;
}
.class1603879675971 {
color: #ff8206 !important;
  font-size: 14px !important;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
;
}
.class1603877691810 {
	margin-top: 15px;
;
}
.class1603877855071 {
color: #ff8206 !important;
  font-size: 14px !important;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
;
}
.class1603878214701 {
color: #ff8206 !important;
  font-size: 14px !important;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
;
}

.class1603878579070 {
padding-bottom: 1vh;
padding-right: 1vh;
;
}

}
