page-dropfilepage {
.class1571668344017 {
align-items: bottom;
padding:5px;
;
}
.class1571668382094 {
align-items: end;
margin-top:10px;
;
}
.class1571075937119 {
	margin-left:0.5em;
	margin-top:1px;
;
}
.class1571668487804 {
margin-top:0.75rem;
margin-bottom:0.8rem;

font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  display: inline-block;
;
}
.class1606503504643 {
margin-top:0.75rem;
margin-bottom:0.8rem;

font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  display: inline-block;
;
}

.class1550843557848 {
height:100%;
;
}
.class1571672225943 {
	border-radius: 34px;
	background-color: #ff8206;
	color:white;
 	font-size: 14px;
   	line-height: 1.79;
  	letter-spacing: normal;
  	text-align: center;
}

.class1550744523916:hover {
	color:white !important;
	background-color: #333333 !important;
;
}
.class1586435018202 {
	border-radius: 34px;
	background-color: #ff8206;
	color:white;
 	font-size: 14px;
   	line-height: 2.5;
  	letter-spacing: normal;
  	text-align: center;
}

.class1550826498347:hover {
	color:white !important;
	background-color: #333333 !important;
;
}
.class1551089324590 {
color: #ff8206;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
;
}
.class1571672560065 {
	border-radius: 34px;
	background-color: #ff8206;
	color:white;
 	font-size: 14px;
   	line-height: 1.79;
  	letter-spacing: normal;
  	text-align: center;
}

.class1550744523916:hover {
	color:white !important;
	background-color: #333333 !important;
;
}
.class1550745120574 {
display: table !important;
  width: 100% !important;
  height: 100% !important;
;
}
.class1550743982605 {
display: table-cell;
  vertical-align: middle;
  text-align: center;
;
}
.class1550743839060 {
color: #aaa;
;
}
.class1550744446838 {
color: #aaa;
;
}
.class1550826498347 {
	border-radius: 34px;
	background-color: #ff8206;
	color:white;
 	font-size: 14px;
   	line-height: 2.5;
  	letter-spacing: normal;
  	text-align: center;
}

.class1550826498347:hover {
	color:white !important;
	background-color: #333333 !important;
;
}

.class1550742585665 {
 position: relative;
 margin:10px;
;
}
.class1550742466160 {
display: inline-block;
;
}
.class1571672683357 {
	border-radius: 34px;
	background-color: #ff8206;
	color:white;
 	font-size: 14px;
   	line-height: 1.79;
  	letter-spacing: normal;
  	text-align: center;
}

.class1571672683357:hover {
	color:white !important;
	background-color: #333333 !important;
;
}
.class1571672702219 {
	border-radius: 34px;
	background-color: #ff8206;
	color:white;
 	font-size: 14px;
   	line-height: 1.79;
  	letter-spacing: normal;
  	text-align: center;
}

.class1571672702219:hover {
	color:white !important;
	background-color: #333333 !important;
;
}
.class1550742474856 {
display: inline-block;
vertical-align: middle;
float:right;

;
}
.class1550742762978 {
color: #aaa;
;
}

}
