page-thumbnailselectiontemplates {
.class1594652578494 {
ion-content > .scroll-content{
    padding-bottom: 56px;
  }
;
}
.class1594652578503 {
	height:40vh !important;
;
}
.class1594652578506 {
	height:60vh;
	.slide-zoom{
		height:100%;
		width:100%;
	}

;
}
.class1594652578515 {
	text-align: center;  
;
}
.class1594652578518 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-height: 55vh;
;
}

}
