page-wallpaperselectioncustom {
.class1586432279886 {
	border-radius: 34px;
	background-color: #ff8206;
	color:white;
 	font-size: 14px;
   	line-height: 2.5;
  	letter-spacing: normal;
  	text-align: center;
}

.class1550826498347:hover {
	color:white !important;
	background-color: #333333 !important;
;
}
.class1586190862953 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-height: 55vh;
;
}
.class1586182731844 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-height: 55vh;
;
}

}
