page-settingspage {
.class1547663948850 {
top: 50%;
position: absolute;
-ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 20;
  color: white;
;
}
.class1571069604422 {
position: -webkit-sticky;
position: sticky;
top:0;
z-index:999;
background-color:white;
;
}
.class1571069604425 {
align-items: bottom;
;
}
.class1571075747742 {
align-items: end;
;
}
.class1571075747760 {
vertical-align: middle;
height:100%
;
}
.class1571156177325 {
float:left;
margin:0;
ion-icon {
    padding: 0 0.2em;
}
;
}
.class1571075937119 {
	margin-left:0.5em;
	margin-top:1px;
;
}
.class1571156193490 {
margin-top:0.75rem;
margin-bottom:0.8rem;

font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  display: inline-block;
;
}
.class1606498483096 {
float:right;
margin:0;
margin-right:1vw;
padding:0 !important;
;
}
.class1606498483099 {
		width: 3rem;
		height: 3rem;
;
}
.class1606499225065 {
	border-radius: 34px;
	background-color: #ff8206;
	padding-left: 2rem;
	padding-right: 2rem;
	color:white;
 	font-size: 14px;
   	line-height: 1.79;
  	letter-spacing: normal;
  	text-align: center;
  	float:right;
}

.class1567437444858:hover {
	color:white !important;
	background-color: #333333 !important;
;
}
.class1606499288400 {
float:right;
;
}
.class1606499288403 {
font-size: 3rem;
;
}
.class1606995382480 {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top:0;
	padding-bottom:0;
  	float:right;
  	position:relative;
}

.class1603903405770:hover {
	color:white !important;
	background-color: #333333 !important;
;
}
.class1606995382504 {
border-radius: 50%;
position: absolute;
top: -0; right:0;
z-index:100;
;
}
.class1571075719554 {
align-items: end;
margin-top:10px;
;
}
.class1571156177325 {
float:left;
margin:0;
ion-icon {
    padding: 0 0.2em;
}
;
}
.class1571075937119 {
	margin-left:0.5em;
	margin-top:1px;
;
}
.class1571156193490 {
margin-top:0.75rem;
margin-bottom:0.8rem;

font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  display: inline-block;
;
}
.class1603903405770 {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top:0;
	padding-bottom:0;
  	float:right;
  	position:relative;
}

.class1603903405770:hover {
	color:white !important;
	background-color: #333333 !important;
;
}
.class1603903985013 {
border-radius: 50%;
position: absolute;
top: -0; right:0;
z-index:100;
;
}
.class1571076139392 {
float:right;
margin-left:1em;
}
.class1567515311431:hover{
	filter: drop-shadow(3px 3px 3px #979797);
	fill: #DA4567;
;
}
.class1571076173386 {
	border-radius: 34px;
	background-color: #ff8206;
	padding-left: 2rem;
	padding-right: 2rem;
	color:white;
 	font-size: 14px;
   	line-height: 1.79;
  	letter-spacing: normal;
  	text-align: center;
  	float:right;
}

.class1567437444858:hover {
	color:white !important;
	background-color: #333333 !important;
;
}
.class1571076173395 {
float:left;
margin-right:0.5em;
;
}
.class1574356090446 {
	border-radius: 34px;
	background-color: #ff8206;
	padding-left: 2rem;
	padding-right: 2rem;
	color:white;
 	font-size: 14px;
   	line-height: 1.79;
  	letter-spacing: normal;
  	text-align: center;
  	float:right;
}

.class1567437444858:hover {
	color:white !important;
	background-color: #333333 !important;
;
}
.class1579012523715 {
float:right;
margin-left:1em;
}
.class1579012523715:hover{
	filter: drop-shadow(3px 3px 3px #979797);
;
}

.class1539697883741 {
 background:rgba(255,255,255,1);

;
}
.class1587717673182 {
background-color: rgba(255,255,255,0.9);
height:100%;

;
}
.class1601544238672 {
	.label{
		margin-top: 0px !important;	
		margin-bottom: 0px !important;	
	}
;
}
.class1601544238675 {
color: #ff8206;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
;
}
.class1587717673185 {
margin-left:34px;
margin-right:34px;
margin-bottom:10px;
;
}
.class1601544478038 {
	.label{
		margin-top: 0px !important;	
		margin-bottom: 0px !important;	
	}
	padding-left:0px !important;
;
}
.class1601544478041 {
color: #ff8206;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
;
}
.class1587717673206 {
border-bottom: 1px solid color($colors, greyButton) !important
;
}
.class1587717673209 {
 background:rgba(255,255,255,0.0);

;
}
.class1601543680520 {
border-bottom: 1px solid color($colors, greyButton) !important
;
}
.class1601543680523 {
 background:rgba(255,255,255,0.0);

;
}
.class1601544736565 {
margin-top:10px;
;
}
.class1601544736568 {
	.label{
		margin-top: 0px !important;	
		margin-bottom: 0px !important;	
	}
	padding-left:0px !important;
;
}
.class1601544736571 {
color: #ff8206;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
;
}
.class1601544736727 {
border-bottom: 1px solid color($colors, greyButton) !important
;
}
.class1601544736730 {
 background:rgba(255,255,255,0.0);

;
}
.class1587717728988 {
text-align:center;
;
}

}
