page-manageaccessrights1 {
.class1599471880347 {
height:100%;
;
}
.class1599471880356 {
text-align:center;
;
}
.class1599471880389 {
margin-right:10px;
;
}
.class1599471880413 {
margin-right:10px;
;
}
.class1599471880431 {
float:right;
cursor: help;
color: map-get($colors, primary);
}
.class1591884300449:hover{
cursor: help !important;
;
}

.class1599471880470 {
padding-bottom: 1vh;
padding-right: 1vh;
;
}

}
