page-popoverpageselector {
.class1567072378199 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;

	.item-inner{
		margin-left:0px !important;
	}
}
.class1567072378199:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1567072332062 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;

.item-inner{
		margin-left:0px !important;
	}
}
.class1567072332062:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1571921646941 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;
.item-inner{
		margin-left:0px !important;
}

}
.class1571921646941:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1580132441145 {
color: #4a4a4a;
font-size: 12px;
.item-inner{
		margin-left:0px !important;
}
}

.class1580132441145:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1572459511838 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;
.item-inner{
		margin-left:0px !important;
}

}
.class1572459511838:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1572461724835 {
color:#4a4a4a;
text-decoration: none;  
display: inline;
;
}
.class1603801509434 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;
.item-inner{
		margin-left:0px !important;
}

}
.class1603801509434:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1603801509443 {
color:#4a4a4a;
text-decoration: none;  
display: inline;
;
}
.class1572458087226 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;
.item-inner{
		margin-left:0px !important;
}

}
.class1572458087226:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1575993202123 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;
.item-inner{
		margin-left:0px !important;
}

}
.class1575993202123:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1576251174431 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;
.item-inner{
		margin-left:0px !important;
}

}
.class1576251174431:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1593772796540 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;


}
.class1593772796540:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1578663445209 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;
.item-inner{
		margin-left:0px !important;
}
}

.class1578663445209:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1594313281739 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;
.item-inner{
		margin-left:0px !important;
}
}

.class1594313281739:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1578920252046 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;
.item-inner{
		margin-left:0px !important;
}
}

.class1578920252046:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1588251387387 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;
.item-inner{
		margin-left:0px !important;
}

}
.class1588251387387:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1588254912106 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;
.item-inner{
		margin-left:0px !important;
}

}
.class1588254912106:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1594642420621 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;
.item-inner{
		margin-left:0px !important;
}

}
.class1594642420621:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1566923687561 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;
.item-inner{
		margin-left:0px !important;
}

}
.class1566923687561:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1579008867358 {
color: #4a4a4a;
font-size: 12px;
.item-inner{
		margin-left:0px !important;
}
}
.class1579008867358:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1569858735855 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;
.item-inner{
		margin-left:0px !important;
}

}
.class1569858735855:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1566923689496 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;
.item-inner{
		margin-left:0px !important;
}

}
.class1566923689496:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}
.class1599471649196 {
/* Mot de passe oublié: */
color: #4a4a4a;
font-size: 12px;
}

.class1599471649196:hover{
font-size: 12px;
color: #048EAE;
text-decoration: underline;
cursor: pointer;
;
}

}
