page-wallpaperselectiontemplates {
.class1586163444912 {
ion-content > .scroll-content{
    padding-bottom: 56px;
  }
;
}
.class1586165381154 {
	height:40vh !important;
;
}
.class1586164766907 {
	height:60vh;
	.slide-zoom{
		height:100%;
		width:100%;
	}

;
}
.class1586164766916 {
	text-align: center;  
;
}
.class1586164766919 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-height: 55vh;
;
}

}
