page-exportcsvpage {
.class1603794089870 {
float:right;
top:0;
right:0;
position:absolute;
;
}

.class1602172335541 {
	.label{
		margin-top: 0px !important;	
		margin-bottom: 0px !important;	
	}
	.item-inner {
		border-bottom: 0px solid #ffffff !important;
	}
;
}
.class1602172335544 {
color: #ff8206;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
;
}
.class1602172502338 {
	.item-inner {
		border-bottom: 0px solid #ffffff !important;
	}
	
width: 90%;
.label{
		margin-top: 0px !important;	
		margin-bottom: 0px !important;	
	}
;
}
.class1602172502344 {
color: color($colors, primary);
;
}
.class1602496055345 {
	.item-inner {
		border-bottom: 0px solid #ffffff !important;
	}
	
width: 90%;
.label{
		margin-top: 0px !important;	
		margin-bottom: 0px !important;	
	}
;
}
.class1602496055351 {
color: color($colors, primary);
;
}
.class1602173202363 {
	.item-inner {
		border-bottom: 0px solid #ffffff !important;
	}
	
width: 90%;
.label{
		margin-top: 0px !important;	
		margin-bottom: 0px !important;	
	}
;
}
.class1602173202369 {
color: color($colors, primary);
;
}
.class1602234403715 {
	.label{
		margin-top: 0px !important;	
		margin-bottom: 0px !important;	
	}
	.item-inner {
		border-bottom: 0px solid #ffffff !important;
	}
;
}
.class1602234403718 {
color: #ff8206;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.class1602234403718:hover {
	cursor:pointer;
;
}
.class1602497366989 {

}

.class1568031786633:hover {
cursor: pointer;
;
}
.class1602234589992 {
	.item-inner {
		border-bottom: 0px solid #ffffff !important;
	}
	
width: 90%;
.label{
		margin-top: 0px !important;	
		margin-bottom: 0px !important;	
	}
;
}
.class1602234589998 {
color: color($colors, primary);
;
}
.class1602234590022 {
	.item-inner {
		border-bottom: 0px solid #ffffff !important;
	}
	
width: 90%;
.label{
		margin-top: 0px !important;	
		margin-bottom: 0px !important;	
	}
;
}
.class1602234590028 {
color: color($colors, primary);
;
}
.class1602234612097 {
	.item-inner {
		border-bottom: 0px solid #ffffff !important;
	}
	
width: 90%;
.label{
		margin-top: 0px !important;	
		margin-bottom: 0px !important;	
	}
;
}
.class1602234612103 {
color: color($colors, primary);
;
}

.class1602255012679 {
padding-bottom: 1vh;
padding-right: 1vh;
;
}

}
