page-modalactions {
.class1599825036455 {
	
   
width:100%;
;
}
.class1599825036461 {
 display: inline-flex;
  flex-wrap: wrap;
     background-color: #fafbfc!important;
     width:100%;
     margin-bottom: 24px;
    padding-left:15px;
    box-sizing:border-box;
  width:100% !important;
  padding-top: 1vh !important;
   
;
}
.class1599825036473 {

min-width:70px;
  padding: 7px 12px 8px!important;
    margin: 0;
    color: #24292e;
    background-color: #fff;

    border: 1px solid transparent;
    border-top: 3px solid transparent;
    border-radius: 3px 3px 0 0;
	box-sizing: border-box;
    border-color: map-get($colors, btLight) #e1e4e8 transparent;
    z-index:100;
    border-bottom:0px !important;
  
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.class1599825036473:hover{
	cursor:pointer;
;
}
.class1599825937790 {

  display: block;
  margin-left: auto;
  margin-right: 5px;
;
}
.class1599825036554 {

	min-width:70px;

	float: left;
    padding: 7px 15px 8px;
    color: #586069;
    white-space: nowrap;
    
    border: 1px solid transparent;
    border-top: 3px solid transparent;
    border-radius: 3px 3px 0 0;
    padding: 7px 12px 8px!important;
    margin: 0;
      display: flex;
  	align-items: center;
  	justify-content: center;
  	    border-bottom: 1px solid #e1e4e8;
}

.class1599825036554:hover{
	cursor:pointer;
	background-color: #f0f0f0 !important;
;
}
.class1599825893108 {

  display: block;
  margin-left: auto;
  margin-right: 5px;
;
}
.class1599826589193 {
margin-left: 20px;
text-transform: none;
display: block;
margin-bottom: 20px;
;
}
.class1600876689488 {
	margin-bottom: 15px;
	display: flex;
  	justify-content: center;
  	align-self: stretch !important;
}
.class1600876689488:hover{
	cursor:pointer;
;
}
.class1600876689491 {
padding: 1em;
height: 100% !important;
margin-bottom: 15px;
margin-top: 15px;
margin-left:15px;
margin-right:15px;
	cusror:pointer;
}
.class1600876689491:hover {
	background-color: #f9f9f9;
	border-radius : 4px;
	border:'solid 1px #25e056';
;
}
.class1600876689542 {
text-align:center;
position:relative;
;
}
.class1600876985102 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1586272535849:hover {
	cursor: pointer;
;
}
.class1600876689608 {
color: #999999;

	
;
}

.class1599830132427 {
padding-bottom: 1vh;
padding-right: 1vh;
;
}

}
