page-progresspage {
.class1551883413671 {
	height: 85vh;
    
;
}

.class1551884445198 {
 position: relative;
 margin:10px;
;
}
.class1551884445201 {
display: inline-block;
;
}
.class1551884445243 {
display: inline-block;
vertical-align: middle;
float:right;

;
}
.class1551884445249 {
color: #aaa;
;
}

}
