page-manageaccessrights {
.class1591962005113 {
height:100%;
;
}
.class1591962005122 {
text-align:center;
;
}
.class1592312566853 {
margin-right:10px;
;
}
.class1591883250864 {
margin-right:10px;
;
}
.class1591884300449 {
float:right;
cursor: help;
color: map-get($colors, primary);
}
.class1591884300449:hover{
cursor: help !important;
;
}

.class1591882841530 {
padding-bottom: 1vh;
padding-right: 1vh;
;
}

}
