page-which_question {
.class1585242298074 {
border: solid 1px #f6f6f6;
box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
min-height:100px;
;
}
.class1585242298089 {
	padding-top:13px;
	padding-bottom:13px;
;
}

}
