page-selectorpage {
.class1559835779201 {
align-items: bottom;
;
}
.class1559835825383 {
color:-internal-root-color;
;
}
.class1567437444771 {
align-items: end;
margin-top:10px;
;
}
.class1567437444801 {
float:left;

;
}
.class1567437444810 {
	margin-left:0.5em;
	margin-right:1em;
	margin-top:1px;
;
}
.class1567515622653 {
float:right;
margin-left:1em;
}
.class1567515622653:hover{
	filter: drop-shadow(3px 3px 3px #979797);
;
}
.class1567515311431 {
float:right;
margin-left:1em;
}
.class1567515311431:hover{
	filter: drop-shadow(3px 3px 3px #979797);
	fill: #DA4567;
;
}
.class1567515760237 {
float:right;
margin-left:1em;
}
.class1567515760237:hover{
	filter: drop-shadow(3px 3px 3px #979797);
;
}
.class1567437444858 {
	border-radius: 34px;
	background-color: #ff8206;
	padding-left: 2rem;
	padding-right: 2rem;
	color:white;
 	font-size: 14px;
   	line-height: 1.79;
  	letter-spacing: normal;
  	text-align: center;
  	float:right;
}

.class1567437444858:hover {
	color:white !important;
	background-color: #333333 !important;
;
}
.class1567525117610 {
float:left;
margin-right:0.5em;
;
}
.class1567526491717 {
align-items: end;
margin-top:10px;
;
}
.class1567608687040 {
padding-bottom: 1rem;
;
}
.class1567526491726 {
float:left;
margin:0;
;
}
.class1567604275229 {
margin-top:0.75rem;
margin-bottom:0.8rem;

font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  display: inline-block;
;
}
.class1567605173703 {
float:right;
margin-right:1.5rem;
padding-bottom: 0.5rem;
}
.class1567515760237:hover{
	filter: drop-shadow(3px 3px 3px #979797);
;
}
.class1571069604422 {
position: -webkit-sticky;
position: sticky;
top:0;
z-index:999;
background-color:white;
;
}
.class1571069604425 {
align-items: bottom;
;
}
.class1571075747742 {
align-items: end;
;
}
.class1571075747760 {
vertical-align: middle;
height:100%
;
}
.class1571156177325 {
float:left;
margin:0;
ion-icon {
    padding: 0 0.2em;
}
;
}
.class1571075937119 {
	margin-left:0.5em;
	margin-top:1px;
;
}
.class1571156193490 {
margin-top:0.75rem;
margin-bottom:0.8rem;

font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  display: inline-block;
;
}
.class1606498483096 {
float:right;
margin:0;
margin-right:1vw;
padding:0 !important;
;
}
.class1606498483099 {
		width: 3rem;
		height: 3rem;
;
}
.class1606499225065 {
	border-radius: 34px;
	background-color: #ff8206;
	padding-left: 2rem;
	padding-right: 2rem;
	color:white;
 	font-size: 14px;
   	line-height: 1.79;
  	letter-spacing: normal;
  	text-align: center;
  	float:right;
}

.class1567437444858:hover {
	color:white !important;
	background-color: #333333 !important;
;
}
.class1606499288400 {
float:right;
;
}
.class1606499288403 {
font-size: 3rem;
;
}
.class1606995382480 {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top:0;
	padding-bottom:0;
  	float:right;
  	position:relative;
}

.class1603903405770:hover {
	color:white !important;
	background-color: #333333 !important;
;
}
.class1606995382504 {
border-radius: 50%;
position: absolute;
top: -0; right:0;
z-index:100;
;
}
.class1571075719554 {
align-items: end;
margin-top:10px;
;
}
.class1571156177325 {
float:left;
margin:0;
ion-icon {
    padding: 0 0.2em;
}
;
}
.class1571075937119 {
	margin-left:0.5em;
	margin-top:1px;
;
}
.class1571156193490 {
margin-top:0.75rem;
margin-bottom:0.8rem;

font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  display: inline-block;
;
}
.class1603903405770 {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top:0;
	padding-bottom:0;
  	float:right;
  	position:relative;
}

.class1603903405770:hover {
	color:white !important;
	background-color: #333333 !important;
;
}
.class1603903985013 {
border-radius: 50%;
position: absolute;
top: -0; right:0;
z-index:100;
;
}
.class1571076139392 {
float:right;
margin-left:1em;
}
.class1567515311431:hover{
	filter: drop-shadow(3px 3px 3px #979797);
	fill: #DA4567;
;
}
.class1571076173386 {
	border-radius: 34px;
	background-color: #ff8206;
	padding-left: 2rem;
	padding-right: 2rem;
	color:white;
 	font-size: 14px;
   	line-height: 1.79;
  	letter-spacing: normal;
  	text-align: center;
  	float:right;
}

.class1567437444858:hover {
	color:white !important;
	background-color: #333333 !important;
;
}
.class1571076173395 {
float:left;
margin-right:0.5em;
;
}
.class1574356090446 {
	border-radius: 34px;
	background-color: #ff8206;
	padding-left: 2rem;
	padding-right: 2rem;
	color:white;
 	font-size: 14px;
   	line-height: 1.79;
  	letter-spacing: normal;
  	text-align: center;
  	float:right;
}

.class1567437444858:hover {
	color:white !important;
	background-color: #333333 !important;
;
}
.class1579012523715 {
float:right;
margin-left:1em;
}
.class1579012523715:hover{
	filter: drop-shadow(3px 3px 3px #979797);
;
}

.class1537533855334 {
margin-top:10px;
;
}
.class1559750569253 {
	padding: 0 16px 16px 16px !important;
	.scroll-content {
		padding: 0 16px 16px 16px !important;
	}
;
}
.class1559750590333 {
	position:relative;
;
}
.class1579253835065 {
	text-align:right;
;
}
.class1602516281541 {
	width:100%;
;
}
.class1602516281547 {
	display: inline-flex;
	flex-wrap: wrap;
	background-color: #fafbfc!important;
	width:100%;
	margin-bottom: 6px;
	box-sizing:border-box;
	width:100% !important;
;
}
.class1602516281565 {

  display: block;
  margin-left: auto;
  margin-right: 5px;
;
}
.class1602516409026 {
 color: #9b9b9b;
 display:inline-block;
 cursor:pointer;
;
text-align:right;
;
}
.class1602516281586 {

  display: block;
  margin-left: auto;
  margin-right: 5px;
;
}
.class1602516414295 {
 color: #9b9b9b;
 display:inline-block;
 cursor:pointer;
;
text-align:right;
;
}
.class1602517922050 {
	padding: 7px 15px 8px;
	color: #586069;
	white-space: nowrap;
	border: 1px solid transparent;
	border-top: 3px solid transparent;
	border-radius: 3px 3px 0 0;
	padding: 7px 12px 8px!important;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #e1e4e8;
	flex-grow: 1
;
}
.class1559827351483 {
	position:relative;
;
}
.class1559827351486 {
	padding:0px;

.item-inner {
   margin-left: 0px !important;
}

}

.class1559827351486.input-has-focus, .class1559827351486:hover{
	border-bottom-color: #0cbbe7 !important;
   	-webkit-box-shadow: inset 0 -1px 0 0 #0cbbe7 !important;
    box-shadow: inset 0 -1px 0 0 #0cbbe7 !important;
   .item-inner{
    	border-bottom-color: #0cbbe7 !important;
     	-webkit-box-shadow: inset 0 -1px 0 0 #0cbbe7 !important;
      	box-shadow: inset 0 -1px 0 0 #0cbbe7 !important;
	}
;
}
.class1559827351489 {
margin-right:0px !important;
;
}
.class1559827351495 {
	input{
	  white-space:nowrap;
	  overflow:hidden;
	  text-overflow:ellipsis;
	}
	
;
}
.class1578926299818 {
margin-left:0px !important;
color:#979797;	
}
.class1578926299818:hover {
cursor: pointer;
;
}
.class1605175544594 {
position:absolute;
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
border: 1px solid rgba(0,0,0,0.2);
z-index:101;
background-color: white !important;
width:100%;

;
}
.class1605178161270 {
box-shadow: inset 0 -1px 0 0 color($colors, greyButton) !important;
border-bottom-color: color($colors, greyButton);
;
}
.class1605178172767 {
.ng2-tag-input{
	border-bottom: unset !important;
}
box-shadow: inset 0 -1px 0 0 color($colors, greyButton) !important;
border-bottom-color: color($colors, greyButton);
;
}
.class1605179329167 {
.ng2-tag-input{
	border-bottom: unset !important;
}
box-shadow: inset 0 -1px 0 0 color($colors, greyButton) !important;
border-bottom-color: color($colors, greyButton);
;
}
.class1605179589046 {
margin-top:10px;
;
}
.class1567172580047 {
    margin: 0 auto;
    height:inherit;
;
}
.class1567172646679 {
text-align: right;
font-weight: bold;
font-size: 2em;
color: #333333;
max-width: 100px;

;
}
.class1567172695202 {
 font-size: 3rem;

}

.class1567172695202:hover {
 cursor:pointer;

;
}
.class1567517869278 {
 font-size: 3rem;
margin-bottom:0.1em;
}
.class1567517869278:hover{
 cursor:pointer;
;
}
.class1567172690054 {
 font-size: 3rem;
}

.class1567172690054:hover {
 cursor:pointer;

;
}
.class1567518314195 {
 font-size: 3rem;
margin-bottom:0.1em;
}
.class1567518314195:hover{
 cursor:pointer;
;
}
.class1604011220559 {
	width: 17px !important;
	height: 17px !important;
	margin-bottom:0.1em;
}
.class1604011220559:hover{
 cursor:pointer;
;
}
.class1606905363325 {
	border-bottom: 1px solid #cecece;
	border-top: 1px solid #cecece;
	margin-top: 5px;
    background-color:#F1F3F4;
    padding: 1em !important;
;
}
.class1606913372387 {
font-weight: bold;
display:inline-block;
;
}
.class1606988855266 {
float:right;
;
}
.class1606988855269 {
font-size: 3rem;
;
}
.class1606905363334 {
  flex: 1;
    display: flex;
    overflow: auto;
    width:100%;
;
}
.class1606905502457 {
display: flex;
    min-height: webkit-min-content; /*min-content; /* needs vendor prefixes */
;
}
.class1606912602116 {
background-color:white;
height: 120px;
width: 160px;
border: 1px solid #dadce0;
border-radius: 4px;
margin-right:10px;
}
.class1606912602116:hover{
	cursor:pointer;
	border-color:#0cbbe7;
;
}
.class1606907583829 {
font-weight: bold;
margin-left:4px;
;
}
.class1606926552439 {
	background-color:white;
	height: 120px;
	width: 160px;
	border: 1px solid #dadce0;
	border-radius: 4px;
	margin-right:10px;
	
	img{
		height: 100%;
		width: 100%;
		border-radius: 4px;
	}
}
.class1606926552439:hover{
	cursor:pointer;
	border-color:#0cbbe7;
;
}
.class1606926552448 {
font-weight: bold;
margin-left:4px;
;
}
.class1602515996000 {
	height: 4px;
	border-bottom: 1px solid #cecece;
;
}
.class1586278166182 {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
   color: #9b9b9b;
  a {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
   color: #9b9b9b;
  }
  p {
  	display:inline-block;
  }
  display: flex; 
    align-items: center;
  justify-content: center;
;
}
.class1605274732077 {
position:relative;
;
}
.class1605274732086 {

}
.class1605213441302:hover {
	cursor:pointer;
;
}
.class1605275009396 {
position:relative;
;
}
.class1605275009405 {

}
.class1605201666444:hover {
	cursor:pointer;
;
}
.class1605276146185 {
position:relative;
;
}
.class1605276146194 {

}
.class1605201666444:hover {
	cursor:pointer;
;
}
.class1605276368341 {
position:relative;
;
}
.class1605276368350 {

}
.class1605213441302:hover {
	cursor:pointer;
;
}
.class1605281268525 {
position:relative;
;
}
.class1605281268534 {

}
.class1605213441302:hover {
	cursor:pointer;
;
}
.class1605281976805 {
position:relative;
;
}
.class1605281976814 {

}
.class1605213441302:hover {
	cursor:pointer;
;
}
.class1605283919707 {
position:relative;
;
}
.class1605283919716 {

}
.class1605213441302:hover {
	cursor:pointer;
;
}
.class1605284046581 {
position:relative;
;
}
.class1605284046590 {

}
.class1605213441302:hover {
	cursor:pointer;
;
}
.class1605284284669 {
position:relative;
;
}
.class1605284284678 {

}
.class1605201666444:hover {
	cursor:pointer;
;
}
.class1605284354408 {
position:relative;
;
}
.class1605284354417 {

}
.class1605213441302:hover {
	cursor:pointer;
;
}
.class1605285128993 {
position:relative;
;
}
.class1605285129002 {

}
.class1605201666444:hover {
	cursor:pointer;
;
}
.class1605285044640 {
position:relative;
;
}
.class1605285044649 {

}
.class1605213441302:hover {
	cursor:pointer;
;
}
.class1605285044679 {
position:relative;
;
}
.class1605285044688 {

}
.class1605213441302:hover {
	cursor:pointer;
;
}
.class1606649192233 {
	display: inline-block;
	  line-height: normal;
	  margin-left:auto; margin-right:0;
;
}
.class1606648948044 {
 font-size: 3rem;
 vertical-align: middle;
}
.class1567517869278:hover{
 cursor:pointer;
;
}
.class1606648948080 {
 	font-size: 3rem;
	vertical-align: middle;
}
.class1567518314195:hover{
 cursor:pointer;
;
}
.class1606649976284 {
width:3rem;
height:3rem;
	vertical-align:middle;
}
.class1606649976284:hover{
 cursor:pointer;

;
}
.class1606650098921 {
width:3rem;
height:3rem;
	vertical-align:middle;
}
.class1606649976284:hover{
 cursor:pointer;

;
}
.class1606648948116 {
	/*width: 17px !important;
	height: 17px !important;*/
	 width: 3rem;
	 height: 3rem;
	vertical-align:middle;
}
.class1604011220559:hover{
 cursor:pointer;
;
}
.class1606648778819 {
	display: inline-block;
	float:right;
	vertical-align: middle;
	
	font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
   color: #9b9b9b;
  a {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
   color: #9b9b9b;
  }
;
}
.class1606648810528 {
 font-size: 3rem;
margin-bottom:0.1em;
}
.class1567517869278:hover{
 cursor:pointer;
;
}
.class1606648810564 {
 font-size: 3rem;
margin-bottom:0.1em;
}
.class1567518314195:hover{
 cursor:pointer;
;
}
.class1606648810600 {
	width: 17px !important;
	height: 17px !important;
	margin-bottom:0.1em;
}
.class1604011220559:hover{
 cursor:pointer;
;
}
.class1580912620903 {
	
	margin-bottom: 15px;

;
}
.class1580912620906 {
padding: 1em;
height: 100% !important;
margin-bottom: 15px;
margin-top: 15px;
margin-left:15px;
margin-right:15px;

}
.class1580912620906:hover{
	cursor:pointer;
;
}
.class1580913073999 {
padding-left:1rem;
padding-right:1rem;
padding-top:1rem;
;
}
.class1580913074002 {
display:inline-block;
;
}
.class1580913074008 {
margin-left:2px;
;
}
.class1580913074023 {
margin-left:2px;

;
}
.class1580913074035 {
display:inline-block;
float: right;
}
.class1566920678198:hover {
cursor: pointer;
;
}
.class1580912620972 {
text-align:center;
position:relative;
;
}
.class1580912620999 {

    width:100px;
    height:100px;
    /*-webkit-border-radius: 50%;
    border-radius: 50%;
    object-fit: scale-down;
*/
;
}
.class1580912621005 {
position:absolute;
top:0;
right: calc(50% - 50px);
border-radius: 10px;
;
}
.class1580912621017 {
color: #999999;

	
;
}
.class1586272535726 {
	
	margin-bottom: 15px;

;
}
.class1586272535729 {
padding: 1em;
height: 100% !important;
margin-bottom: 15px;
margin-top: 15px;
margin-left:15px;
margin-right:15px;

;
}
.class1586272535735 {
overflow: auto;
;
}
.class1586272535738 {
display:inline-block;
;
}
.class1606575016988 {
margin-left:2px;

;
}
.class1586272535771 {
display:inline-block;
float: right;
}
.class1586272535771:hover {
cursor: pointer;
;
}
.class1606574763560 {

}
.class1606574763560:hover {
cursor: pointer;
;
}
.class1586272535795 {
	text-align:center !important;
	position:relative !important;
	img{
		text-align:center;
		position:relative;
	}
	canvas{
		text-align:center;
		position:relative;
	}
;
}
.class1586272535822 {
position:absolute;
top:0;
right: calc(50% - 50px);
border-radius: 10px;
z-index: 100 !important;
;
}
.class1604013328815 {

    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    canvas{
    width:100px !important;
    height:100px !important;
    }

}

.class1586272535840:hover {
	cursor: pointer;
;
}
.class1586272535840 {
   width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    

}

.class1586272535840:hover {
	cursor: pointer;
;
}
.class1603358454637 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1603358454637:hover {
	cursor: pointer;
;
}
.class1602857075949 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1602857075949:hover {
	cursor: pointer;
;
}
.class1602857219184 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1602857219184:hover {
	cursor: pointer;
;
}
.class1586272535849 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1586272535849:hover {
	cursor: pointer;
;
}
.class1604598394437 {

    width:120px;
    height:120px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    canvas{
    width:100px !important;
    height:100px !important;
    }

}

.class1604598394437:hover {
	cursor: pointer;
;
}
.class1604595883957 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1604595883957:hover {
	cursor: pointer;
;
}
.class1604597199746 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1604597199746:hover {
	cursor: pointer;
;
}
.class1604597259456 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1604597259456:hover {
	cursor: pointer;
;
}
.class1604598203716 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto
}

.class1604598203716:hover {
	cursor: pointer;
;
}
.class1603968891126 {
position:absolute !important;
bottom:0 !important;
right:0 !important;
}
.class1603968891126:hover{
	cursor:pointer;
;
}
.class1586272535855 {
color: #999999;
strong{
color:black !important;
}
	
;
}
.class1586272535726 {
	
	margin-bottom: 15px;

;
}
.class1586272535729 {
padding: 1em;
height: 100% !important;
margin-bottom: 15px;
margin-top: 15px;
margin-left:15px;
margin-right:15px;

;
}
.class1586272535735 {
overflow: auto;
;
}
.class1586272535738 {
display:inline-block;
;
}
.class1606575016988 {
margin-left:2px;

;
}
.class1586272535771 {
display:inline-block;
float: right;
}
.class1586272535771:hover {
cursor: pointer;
;
}
.class1606574763560 {

}
.class1606574763560:hover {
cursor: pointer;
;
}
.class1586272535795 {
	text-align:center !important;
	position:relative !important;
	img{
		text-align:center;
		position:relative;
	}
	canvas{
		text-align:center;
		position:relative;
	}
;
}
.class1586272535822 {
position:absolute;
top:0;
right: calc(50% - 50px);
border-radius: 10px;
z-index: 100 !important;
;
}
.class1604013328815 {

    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    canvas{
    width:100px !important;
    height:100px !important;
    }

}

.class1586272535840:hover {
	cursor: pointer;
;
}
.class1586272535840 {
   width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    

}

.class1586272535840:hover {
	cursor: pointer;
;
}
.class1603358454637 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1603358454637:hover {
	cursor: pointer;
;
}
.class1602857075949 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1602857075949:hover {
	cursor: pointer;
;
}
.class1602857219184 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1602857219184:hover {
	cursor: pointer;
;
}
.class1586272535849 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1586272535849:hover {
	cursor: pointer;
;
}
.class1604598394437 {

    width:120px;
    height:120px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    canvas{
    width:100px !important;
    height:100px !important;
    }

}

.class1604598394437:hover {
	cursor: pointer;
;
}
.class1604595883957 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1604595883957:hover {
	cursor: pointer;
;
}
.class1604597199746 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1604597199746:hover {
	cursor: pointer;
;
}
.class1604597259456 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1604597259456:hover {
	cursor: pointer;
;
}
.class1604598203716 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto
}

.class1604598203716:hover {
	cursor: pointer;
;
}
.class1603968891126 {
position:absolute !important;
bottom:0 !important;
right:0 !important;
}
.class1603968891126:hover{
	cursor:pointer;
;
}
.class1586272535855 {
color: #999999;
strong{
color:black !important;
}
	
;
}
.class1586272535726 {
	
	margin-bottom: 15px;

;
}
.class1586272535729 {
padding: 1em;
height: 100% !important;
margin-bottom: 15px;
margin-top: 15px;
margin-left:15px;
margin-right:15px;

;
}
.class1586272535735 {
overflow: auto;
;
}
.class1586272535738 {
display:inline-block;
;
}
.class1606575016988 {
margin-left:2px;

;
}
.class1586272535771 {
display:inline-block;
float: right;
}
.class1586272535771:hover {
cursor: pointer;
;
}
.class1606574763560 {

}
.class1606574763560:hover {
cursor: pointer;
;
}
.class1586272535795 {
	text-align:center !important;
	position:relative !important;
	img{
		text-align:center;
		position:relative;
	}
	canvas{
		text-align:center;
		position:relative;
	}
;
}
.class1586272535822 {
position:absolute;
top:0;
right: calc(50% - 50px);
border-radius: 10px;
z-index: 100 !important;
;
}
.class1604013328815 {

    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    canvas{
    width:100px !important;
    height:100px !important;
    }

}

.class1586272535840:hover {
	cursor: pointer;
;
}
.class1586272535840 {
   width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    

}

.class1586272535840:hover {
	cursor: pointer;
;
}
.class1603358454637 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1603358454637:hover {
	cursor: pointer;
;
}
.class1602857075949 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1602857075949:hover {
	cursor: pointer;
;
}
.class1602857219184 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1602857219184:hover {
	cursor: pointer;
;
}
.class1586272535849 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1586272535849:hover {
	cursor: pointer;
;
}
.class1604598394437 {

    width:120px;
    height:120px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    canvas{
    width:100px !important;
    height:100px !important;
    }

}

.class1604598394437:hover {
	cursor: pointer;
;
}
.class1604595883957 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1604595883957:hover {
	cursor: pointer;
;
}
.class1604597199746 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1604597199746:hover {
	cursor: pointer;
;
}
.class1604597259456 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.class1604597259456:hover {
	cursor: pointer;
;
}
.class1604598203716 {
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto
}

.class1604598203716:hover {
	cursor: pointer;
;
}
.class1603968891126 {
position:absolute !important;
bottom:0 !important;
right:0 !important;
}
.class1603968891126:hover{
	cursor:pointer;
;
}
.class1586272535855 {
color: #999999;
strong{
color:black !important;
}
	
;
}
.class1604681432116 {
	margin-bottom: 2rem;
}
.class1604681432116:hover {
	cursor:pointer;
;
}
.class1604681432122 {
	height: 7rem !important;
;
}
.class1604681432170 {
	 	height: 100% !important;
     	  
  	border-top: solid 1px #f6f6f6;
  	border-bottom: solid 1px #f6f6f6;
  	border-left: solid 1px #f6f6f6;
  	position:relative;
;
}
.class1604681950788 {
    width:4rem;
    height: 4rem;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1567168007196:hover {
cursor: pointer;
;
}
.class1604681432344 {
 	height: 100% !important;
 	  border-radius: 4px;
  	border-top: solid 1px #f6f6f6;
  	border-bottom: solid 1px #f6f6f6;
  color: #999999
}
.class1586351172203:hover{
	cursor:pointer;
;
}
.class1604681432350 {
  position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: left;
}

.class1604681432350:hover {
cursor: pointer;
;
}
.class1604681432395 {
	height: 100% !important;
    border-radius: 4px;
  	border-top: solid 1px #f6f6f6;
  	border-bottom: solid 1px #f6f6f6;
  	border-right: solid 1px #f6f6f6;
;
}
.class1586351172065 {
	
	margin-bottom: 2rem;

;
}
.class1586351172071 {
height: 7rem !important;


;
}
.class1586351172098 {
display:inline-block;
float: right;
margin-right:1em;
;
}
.class1586351172134 {
	 	height: 100% !important;
     	  border-radius: 4px;
  	border-top: solid 1px #f6f6f6;
  	border-bottom: solid 1px #f6f6f6;
  	border-left: solid 1px #f6f6f6;
  	position:relative;
;
}
.class1586358601354 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1586358601354:hover {
cursor: pointer;
;
}
.class1603359036233 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1603359036233:hover {
	cursor: pointer;
;
}
.class1594977037015 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1594977037015:hover {
cursor: pointer;
;
}
.class1602862400093 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1602862400093:hover {
	cursor: pointer;
;
}
.class1586351172137 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1586351172137:hover {
cursor: pointer;
;
}
.class1586351172191 {
position:absolute;

top: 1rem;
right:2rem;
border-radius: 10px;
;
}
.class1604675076608 {
   width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1604675076608:hover {
	cursor: pointer;
;
}
.class1604675076620 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1604675076620:hover {
	cursor: pointer;
;
}
.class1604675076632 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1604675076632:hover {
	cursor: pointer;
;
}
.class1604675076641 {
   width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1604675076641:hover {
	cursor: pointer;
;
}
.class1604675076653 {
	width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}
.class1604675076653:hover{
	cursor:pointer;
;
}
.class1586351172203 {
 	height: 100% !important;
 	  border-radius: 4px;
  	border-top: solid 1px #f6f6f6;
  	border-bottom: solid 1px #f6f6f6;
  color: #999999;
  	strong{
	color:black !important;
	}
}
.class1586351172203:hover{
	cursor:pointer;
;
}
.class1586351172209 {
  position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: left;
    strong{
		color:black !important;
	}
}

.class1567166787843:hover {
cursor: pointer;
;
}
.class1586351172263 {
	 	height: 100% !important;
     	  border-radius: 4px;
  	border-top: solid 1px #f6f6f6;
  	border-bottom: solid 1px #f6f6f6;
  	border-right: solid 1px #f6f6f6;
;
}
.class1586351172269 {
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
	font-size: 3rem;
  color: #999999;
      display: block;
    margin: 0 auto;
}

.class1586351172269:hover {
cursor: pointer;
;
}
.class1586351172065 {
	
	margin-bottom: 2rem;

;
}
.class1586351172071 {
height: 7rem !important;


;
}
.class1586351172098 {
display:inline-block;
float: right;
margin-right:1em;
;
}
.class1586351172134 {
	 	height: 100% !important;
     	  border-radius: 4px;
  	border-top: solid 1px #f6f6f6;
  	border-bottom: solid 1px #f6f6f6;
  	border-left: solid 1px #f6f6f6;
  	position:relative;
;
}
.class1586358601354 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1586358601354:hover {
cursor: pointer;
;
}
.class1603359036233 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1603359036233:hover {
	cursor: pointer;
;
}
.class1594977037015 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1594977037015:hover {
cursor: pointer;
;
}
.class1602862400093 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1602862400093:hover {
	cursor: pointer;
;
}
.class1586351172137 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1586351172137:hover {
cursor: pointer;
;
}
.class1586351172191 {
position:absolute;

top: 1rem;
right:2rem;
border-radius: 10px;
;
}
.class1604675076608 {
   width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1604675076608:hover {
	cursor: pointer;
;
}
.class1604675076620 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1604675076620:hover {
	cursor: pointer;
;
}
.class1604675076632 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1604675076632:hover {
	cursor: pointer;
;
}
.class1604675076641 {
   width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1604675076641:hover {
	cursor: pointer;
;
}
.class1604675076653 {
	width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}
.class1604675076653:hover{
	cursor:pointer;
;
}
.class1586351172203 {
 	height: 100% !important;
 	  border-radius: 4px;
  	border-top: solid 1px #f6f6f6;
  	border-bottom: solid 1px #f6f6f6;
  color: #999999;
  	strong{
	color:black !important;
	}
}
.class1586351172203:hover{
	cursor:pointer;
;
}
.class1586351172209 {
  position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: left;
    strong{
		color:black !important;
	}
}

.class1567166787843:hover {
cursor: pointer;
;
}
.class1586351172263 {
	 	height: 100% !important;
     	  border-radius: 4px;
  	border-top: solid 1px #f6f6f6;
  	border-bottom: solid 1px #f6f6f6;
  	border-right: solid 1px #f6f6f6;
;
}
.class1586351172269 {
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
	font-size: 3rem;
  color: #999999;
      display: block;
    margin: 0 auto;
}

.class1586351172269:hover {
cursor: pointer;
;
}
.class1586351172065 {
	
	margin-bottom: 2rem;

;
}
.class1586351172071 {
height: 7rem !important;


;
}
.class1586351172098 {
display:inline-block;
float: right;
margin-right:1em;
;
}
.class1586351172134 {
	 	height: 100% !important;
     	  border-radius: 4px;
  	border-top: solid 1px #f6f6f6;
  	border-bottom: solid 1px #f6f6f6;
  	border-left: solid 1px #f6f6f6;
  	position:relative;
;
}
.class1586358601354 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1586358601354:hover {
cursor: pointer;
;
}
.class1603359036233 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1603359036233:hover {
	cursor: pointer;
;
}
.class1594977037015 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1594977037015:hover {
cursor: pointer;
;
}
.class1602862400093 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1602862400093:hover {
	cursor: pointer;
;
}
.class1586351172137 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1586351172137:hover {
cursor: pointer;
;
}
.class1586351172191 {
position:absolute;

top: 1rem;
right:2rem;
border-radius: 10px;
;
}
.class1604675076608 {
   width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1604675076608:hover {
	cursor: pointer;
;
}
.class1604675076620 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1604675076620:hover {
	cursor: pointer;
;
}
.class1604675076632 {
    width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1604675076632:hover {
	cursor: pointer;
;
}
.class1604675076641 {
   width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.class1604675076641:hover {
	cursor: pointer;
;
}
.class1604675076653 {
	width:4rem;
    height: 4rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: block;
    margin: 0 auto;
}
.class1604675076653:hover{
	cursor:pointer;
;
}
.class1586351172203 {
 	height: 100% !important;
 	  border-radius: 4px;
  	border-top: solid 1px #f6f6f6;
  	border-bottom: solid 1px #f6f6f6;
  color: #999999;
  	strong{
	color:black !important;
	}
}
.class1586351172203:hover{
	cursor:pointer;
;
}
.class1586351172209 {
  position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: left;
    strong{
		color:black !important;
	}
}

.class1567166787843:hover {
cursor: pointer;
;
}
.class1586351172263 {
	 	height: 100% !important;
     	  border-radius: 4px;
  	border-top: solid 1px #f6f6f6;
  	border-bottom: solid 1px #f6f6f6;
  	border-right: solid 1px #f6f6f6;
;
}
.class1586351172269 {
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
	font-size: 3rem;
  color: #999999;
      display: block;
    margin: 0 auto;
}

.class1586351172269:hover {
cursor: pointer;
;
}
.class1572367654303 {
height:100%;
;
}
.class1572367654312 {
text-align:center;
;
}

.class1566998418536 {


  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  
  padding: 0.5rem;
  
;
}
.class1567008016938 {

margin-bottom: 1em;
margin-top: 1em;
;
}
.class1606647086128 {
display: inline-block;
vertical-align: middle;

;
}
.class1606647086143 {
padding:0 !important;
;
}
.class1606647104345 {
  display: inline-block;
  vertical-align: middle;
;
}
.class1606647104351 {
vertical-align: middle;
;
}
.class1606647125170 {

  display: inline-block;
  vertical-align:middle;
    font-weight: bold;
	font-size: 18px;
	color: #333333;
;
}
.class1606647236996 {
    display: inline-block;
  vertical-align:middle;
  float:right;
;
}
.class1606645599231 {
display: inline-block;
vertical-align: middle;

;
}
.class1606645826474 {
padding:0 !important;
;
}
.class1606645636483 {
  display: inline-block;
  vertical-align: middle;
;
}
.class1606646116442 {
vertical-align: middle;
;
}
.class1606645671818 {

  display: inline-block;
  vertical-align:middle;
    font-weight: bold;
	font-size: 18px;
	color: #333333;
;
}
.class1606645671836 {
    display: inline-block;
  vertical-align:middle;
  float:right;
;
}

}
