page-resetpasswordpage {
.class1582285458291 {
	background-color: transparent;
;
}
.class1602865149314 {
/* Rectangle 4: */
background: #FF8206;
border-radius: 24px;
;
}
.class1582285458387 {
/* Rectangle 4: */
background: #FF8206;
border-radius: 24px;
;
}

}
